<section class="product-listing-wrapper">
    <div class="container-fluid">
      <div class="product-listing-left">
        <div class="product-listing-left-inner">
        <div class="list-heding"> <h4>Filter By</h4> <a href="#">Clear all </a></div>
        <div class="accordion prd-list-filter" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Type
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <div class="list-group">
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Handloom
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Bengal Weaving
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Bengal Jamdani Weaving
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      bengal kantha work
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      west bengal sarees
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                 Color
                </button>
              </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                                <div class="list-group">
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Red
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Gray
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Blue
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Purple
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                     Multicolor
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Orange
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Black
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      White
                    </label>
                  </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Price
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                 
        <div class="slider">
          <div class="progress"></div>
        </div>
        <div class="range-input">
          <input type="range" class="range-max" min="0" max="10000" value="7500" step="100">
        </div>
         <div class="price-input">
          <div class="field">
            <span>Min</span>
            <input type="number" class="input-min" value="2500">
          </div>
          <div class="separator">-</div>
          <div class="field">
            <span>Max</span>
            <input type="number" class="input-max" value="7500">
          </div>
        </div>
                </div>
              </div>
            </div>
             <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  Cities
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body">
                    <div class="list-group">
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Kolkata
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Mumbai
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Bangalore
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Hyderabad
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                    Ivory Coast
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Egypt
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Turkey
                    </label>
                    <label class="list-group-item">
                      <input class="form-check-input me-1" type="checkbox" value="">
                      Venezuela
                    </label>
                  </div>
                    <a href="#" class="mr-cities">More</a>
                </div>
              </div>
            </div>
             <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                  Size
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                  Brand
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSix">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingSeven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
                 Material
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingSeven">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingEight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
                Customers Rating
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingEight">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingNine">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
                 Discount Range
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingNine">
                <div class="accordion-body"></div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTen">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTen" aria-expanded="false" aria-controls="panelsStayOpen-collapseTen">
                 Occasion
                  </button>
              </h2>
              <div id="panelsStayOpen-collapseTen" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTen">
                <div class="accordion-body"></div>
              </div>
            </div>
        </div>
        </div>
        <a href="#"><img src="assets/images/listing-left-banner.jpg" alt="" class="w-100"/></a>
      </div>
      <div class="product-listing-right">
        <a href="#"><img src="assets/images/listing-top-banner.jpg" alt="" class="w-100"/></a>
        <div class="row justify-content-center align-items-center g-2">
         <div class="input-group mt-5">
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="16 Results">
    <select>
      <option value="San Francisco">Sort By: Relevance</option>
      <option value="New York">Sort By: Relevance</option>
      <option value="Seattle">Sort By: Relevance</option>
      <option value="Los Angeles">Sort By: Relevance</option>
      <option value="Chicago">Sort By: Relevance</option>
    </select>
  </div>
        </div>
        
      </div>
  
    </div>
  </section>