
<section class="product_category">
    <div class="container">
      <div class="prd-cat-top heading-top">
        <h2 class="heading-titlte">Ads</h2>
      </div>
        <a [href]="productCateg.link"><img [src]="getImageUrl(productCateg.image)" class="card-img-top" alt="..." style="width:50%"></a> 
          
      <!-- <div class="row">
        <div class="card" style="width: 50%;" *ngFor="let products of productCateg">
            <img [src]="getImageUrl(products.advert_image)" class="card-img-top" alt="...">
            
          </div>
      </div>
      <a href="#" class="view-all d-block d-md-none">View All Products</a> -->
    </div>
  </section>