
<section class="product_category">
    <div class="container">
      <div class="prd-cat-top heading-top">
        <h2 class="heading-titlte">Product Category</h2>
        <a href="#" class="view-all d-none d-md-block">View All Products</a>
      </div>
      <div class="row" *ngFor="let products of productCateg">
        <div class="card" style="width: 18rem;">
            <img [src]="products.advert_image" class="card-img-top" alt="...">
            
          </div>
      </div>
      <a href="#" class="view-all d-block d-md-none">View All Products</a>
    </div>
  </section>