<footer class="site-footer">
    <div class="container">
      <div class="d-none d-md-block">
        <div class="row ">
          <div class="col-md-3">
            <div class="footer-link">
  
              <h2 class="footer-title">Quick Links</h2>
              <ul>
                <li>
                  <a href="#!">About Us</a>
                </li>
                <li>
                  <a href="#!">Tales From Our Journey</a>
                </li>
                <li>
                  <a href="#!">Corporate Gifts | Bulk Orders</a>
                </li>
                <li>
                  <a href="#!">Contact Us</a>
                </li>
              </ul>
              <!-- social -->
              <ul class="social">
                <li><a class="btn socialMediaIcons" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a class="btn socialMediaIcons" href="#!" role="button"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a class="btn socialMediaIcons" href="#!" role="button"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a class="btn socialMediaIcons" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-link">
              <h2 class="footer-title">Policies</h2>
              <ul>
                <li>
                  <a href="#!">Refunds, Exchanges & Cancellations</a>
                </li>
                <li>
                  <a href="#!">Shipping & Payments</a>
                </li>
                <li>
                  <a href="#!">Privacy Policy</a>
                </li>
                <li>
                  <a href="#!">Terms Of Use</a>
                </li>
              </ul>
  
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-link">
              <h2 class="footer-title"> Your Account</h2>
              <ul>
                <li>
                  <a href="#!">New User</a>
                </li>
                <li>
                  <a href="#!">Login</a>
                </li>
                <li>
                  <a href="#!">Track Order</a>
                </li>
                <li>
                  <a href="#!">Manage Your Account</a>
                </li>
                <li>
                  <a href="#!">Shopping Cart</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="footer-link">
              <h2 class="footer-title">Top Categories</h2>
              <ul>
                <li>
                  <a href="#!">Home Decor</a>
                </li>
                <li>
                  <a href="#!">Furnishing</a>
                </li>
                <li>
                  <a href="#!">Paintings</a>
                </li>
                <li>
                  <a href="#!">Kitchen and Dining</a>
                </li>
                <li>
                  <a href="#!">Best Seller</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  
      <div class="footer-link">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
             <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Quick Links
              </button>
            </h2>
           <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    <a href="#!">About Us</a>
                  </li>
                  <li>
                    <a href="#!">Tales From Our Journey</a>
                  </li>
                  <li>
                    <a href="#!">Corporate Gifts | Bulk Orders</a>
                  </li>
                  <li>
                    <a href="#!">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Policies
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    <a href="#!">Refunds, Exchanges & Cancellations</a>
                  </li>
                  <li>
                    <a href="#!">Shipping & Payments</a>
                  </li>
                  <li>
                    <a href="#!">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#!">Terms Of Use</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Your Account
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    <a href="#!">New User</a>
                  </li>
                  <li>
                    <a href="#!">Login</a>
                  </li>
                  <li>
                    <a href="#!">Track Order</a>
                  </li>
                  <li>
                    <a href="#!">Manage Your Account</a>
                  </li>
                  <li>
                    <a href="#!">Shopping Cart</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Top Categories
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul>
                  <li>
                    <a href="#!">Home Decor</a>
                  </li>
                  <li>
                    <a href="#!">Furnishing</a>
                  </li>
                  <li>
                    <a href="#!">Paintings</a>
                  </li>
                  <li>
                    <a href="#!">Kitchen and Dining</a>
                  </li>
                  <li>
                    <a href="#!">Best Seller</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row oprate-plat">
        <span style="font-size: 20px;"> Experience Gulliyan App on Mobile</span>
  
        <div class="gp">
          <a href="#"><img class="donwloadApp" src="../galiyan/assets/images/playstore.svg" alt=""></a>
          <a href="#"><img class="donwloadApp" src="../galiyan/assets/images/appstore.svg" alt=""></a>
        </div>
      </div>
      <hr style="color: #fff;">
      <div class="row flex-row-reverse">
  
        <div class="col-md-6 payment-card">
          <a href="#"><img src="assets/images/paymnt-icon.png" alt=""></a>
        </div>
        <div class="col-md-6">
          <P class="copy-right"> © 2023 Gulliyan.com |<a href="#"> Privacy Policy </a>| <a href="#">Terms of Use.</a>
          </P>
        </div>
      </div>
    </div>
  
  
  
  </footer>